<span id="bootstrap-breakpoint-indicator-xs"
      class="visible-xs" style="line-height: 0">&nbsp;</span>
<span id="bootstrap-breakpoint-indicator-sm"
      class="visible-sm" style="line-height: 0">&nbsp;</span>
<span id="bootstrap-breakpoint-indicator-md"
      class="visible-md" style="line-height: 0">&nbsp;</span>
<span id="bootstrap-breakpoint-indicator-lg"
      class="visible-lg" style="line-height: 0">&nbsp;</span>
